# Ignoring file types
*.log
*.db
*.db-shm
*.db-wal
*.pyc

# Ignoring directories
.cloud
.storage
deps

# Ignore specific files
.homekit.state
.uuid
ip_bans.yaml
known_devices.yaml
options.xml
zwcfg_*xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
