# Ignoring file types
*.log
*.db
*.db-shm
*.db-wal
*.pyc

# Ignoring directories
config/.cloud
config/.storage
config/deps

# Ignore specific files
config/.uuid
config/options.xml
config/OZW_Log.txt
config/pyozw.sqlite
config/secrets.yaml

config/\.homekit\.state
