# Ignoring file types
*.log
*.db
*.db-shm
*.db-wal
*.pyc

# Ignoring directories
config/.cloud
config/.storage
config/deps

# Ignore specific files
config/.homekit.state
config/.uuid
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/zwcfg_*xml
config/OZW_Log.txt
config/pyozw.sqlite
config/secrets.yaml
